@font-face {
    font-family: Watchword;
    src: url("/assets/fonts/watchword.otf");
}

@font-face {
    font-family: GillSans;
    src: url("/assets/fonts/gillsans.ttf");
}

@font-face {
    font-family: Futura;
    src: url("/assets/fonts/futurabold.otf");
}

::-webkit-scrollbar {
    display: none;
}

body, html {
  overflow-x: hidden;
  background: url("/assets/img/bgcusto.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

.capa{
  position: fixed;
  background: #2D4959;
  height: 100%;
  width: 100%;
  filter: opacity(80%);
  -khtml-opacity: 0.8;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2D4959;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 8000;
}

.loader {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assets/img/logoloader.png");
  background-size: 100px, 100px;
  background-repeat: no-repeat;
  background-position: center;
  animation: loader 2s infinite ease;
  -webkit-animation-name: loader;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #2D4959;
}


@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@-webkit-keyframes loader {
  0% { -webkit-transform: rotate(0deg);}
  25% { -webkit-transform: rotate(180deg);}
  50% { -webkit-transform: rotate(180deg);}
  75% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(360deg);}
}

#mainNav{
  padding: 3vw !important;
}

#mainNav .navbar-brand {

  outline: none;
  cursor: pointer;
}

#mainNav .navbar-brand img{
    width: 188.75px;
    height: 54.33px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  text-align: right;
  cursor: pointer;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #000;
  font-size: 1.1rem;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

#mainNav .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
}

.lateral{
  text-align: center;
  background-color: white;
  width: 30vw; 
  height: 100vh;
  position: fixed;
  top: 0%;
  right: -900px;
  z-index: 1050;
  background: rgba(255, 255, 255, 0.8);
}

header.masthead {
  padding-top: 16vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  opacity: 0;
}

header.masthead h2 {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  font-family: GillSans;
  letter-spacing: 0.2em;
}

header.masthead h3 {
  font-size: 2.3rem;
  text-align: center;
  color: white;
  font-family: Watchword;
  margin-bottom: 3vh;
}

.btn-back{
  width:50px;
  height:50px;
  border-radius: 50px;
  border: none;
  position: fixed;
  bottom: 1vh;
  left: 1vh;
}

.close{
  position:absolute;
  top: 50%;
  left: -10px;
}

.more{
    position:fixed;
    top: 50%;
    right: 1%;
}

.card{
  top: -200px;
  margin: 5vh auto;
  width: 90%;
  background-color: transparent;
  border: none;
  background-image: transparent;
  display: flex;
  flex-direction: wrap-flex;
}


.card-block{
  text-align: center;
}

.btn-card{
  border-radius: 30px;
  width: 25%;
}

.btn-cerrar{
  position:absolute;
  right: 0;
}

.btn-customize{
  border-radius: 30px;
  width: 60%;
}

.btn-back:focus{
  outline:0;
}

.btn-more{
  width: 20px;
}

.text-lateral{
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25%;
  height: 100vh;
  overflow-y: auto;
}

.text-lateral .content{
  margin: 2vh auto;
  height: 50vh;
  width: 75%;
  overflow: scroll;
  word-wrap: break-word;
}

.text-lateral button{
  margin: 1vh auto;
}

.content button:focus{
  outline: none;
}

.title-lateral{
  color: white;
  font-family: Watchword;
}

@media (max-width: 1200px) {

  #mainNav .navbar-brand img{
    width: 150px;
    height: 43px;
  }

  .card{
    width: 90%;
    height: 20%;
  }

  .card-block button{
    width: 131.97px;
    height: 38px;
  }

  .lateral{
    width: 50vw;
  }

  .card-img-top{
    width: 60vw;
    margin: auto;
  }
}

@media (max-width: 992px) {
  
  header.masthead {
    padding-top: 12vh;
  }

  #mainNav .navbar-brand img{
    width: 120px;
    height: 34px;
  }

  .lateral{
    width: 50vw;
  }

  .text-lateral button{
    font-size: 0.5rem;
  }

  header.masthead h2{
    font-size: 1.1rem;
  }

  header.masthead h3{
    font-size: 1.6rem;
  }

  .title-lateral{
    font-size: 1.6rem;
    color: white;
    font-family: Watchword;
  }

  .subtitle-lateral{
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {

  header.masthead {
    padding-top: 14vh;
  }

  header.masthead h2{
    font-size: 0.9rem;
  }

  header.masthead h3{
    font-size: 1.2rem;
  }

  .btn-back{
    width: 40px;
    height: 40px;
  }

  .back{
    height: 30px;
    width: 30px;
  }

}

@media (max-width: 576px) {

  .title{
    position: fixed;
    top: 3vh;
    right: -25vw;
    margin-right: 2vw;
  }

  header.masthead h2{
    font-size: 0.7rem;
  }

  header.masthead h3{
    font-size: 4vw;
  }

  .text-lateral button{
    font-size: 0.7rem;
  }

}


@media (min-width: 992px) {
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
    text-align: right;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
}

.menu {
  --color: #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
}
.menu svg {
  outline: none;
  width: 90px;
  height: 70px;
  top: -10px;
  left: -15px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}
.menu svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.menu svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}
.menu svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}

.menu.active svg path {
  --offset: 57px;
}
.menu.active svg path:nth-child(1), .menu.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(.2, .4, .2, 1.1);
}
.menu.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px;
}
.menu.active svg path:nth-child(3) {
  --offset: 58px;
}