@font-face {
    font-family: Watchword;
    src: url("/assets/fonts/watchword.otf");
}

@font-face {
    font-family: GillSans;
    src: url("/assets/fonts/gillsans.ttf");
}

@font-face {
    font-family: Futura;
    src: url("/assets/fonts/futurabold.otf");
}

body, html {
  overflow-x: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

::-webkit-scrollbar {
    display: none;
}

.capa{
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("/assets/img/bgcusto.png");
  filter: brightness(25%);
  background-size: cover;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2D4959;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 8000;
}

.loader {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assets/img/logoloader.png");
  background-size: 100px, 100px;
  background-repeat: no-repeat;
  background-position: center;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #2D4959;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

#mainNav{
  padding: 3rem !important;
}

hr{
  border-color: white;
}

button:focus{
  outline: none;
}


#mainNav .navbar-brand {

  outline: none;
  cursor: pointer;
}

#mainNav .navbar-brand img{
    width: 188.75px;
    height: 54.33px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  text-align: right;
  cursor: pointer;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #000;
  font-size: 1.1rem;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

#mainNav .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
}

.carousel-item img{
    width: 80%;
    height: 100%;
  }

header.masthead .titulo h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: Watchword;
}

header.masthead .titulo h3 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-family: GillSans;
  letter-spacing: 2px;
}

.customize{
  width: 70vw;
  height: 50vh;
  position: relative;
  top: 2vh;
  left: -4vw;
}

header.masthead {
  padding-top: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  opacity: 0;
}

.carousel-item img{
  display: block;
  justify-content: center;
  margin: auto;
}

.options{
    left: -7vw;
    position: relative;
    justify-content: center;
}

.btn-cerrar{
  position:absolute;
  top: 50%;
  left: -15px;
  width: 10px;
  height: 50px;
  background-color: white;
  filter: opacity(100%);
}

.btn-next{
  border-radius: 30px;
  width: 60%;
}

.btn-back{
  border-radius: 30px;
  width: 60%;
}

.lateral{
  text-align: center;
  background-color: white;
  width: 30vw; 
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
}

.text-lateral{
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25%;
  height: 100vh;
  overflow-y: auto;
  background-image: url(/assets/img/fondolateral.png);
}

.text-lateral .content{
  margin: 50px auto;
  height: 35vh;
  width: 25vw;
  overflow: scroll;
  word-wrap: break-word;
}

.text-lateral .summary{
  margin: 0 auto;
  height: 30vh;
  width: 25vw;
  overflow: hidden;
  word-wrap: break-word;
}

.text-lateral button{
  margin: 30px auto;
}

#title{
  color: white;
}

#subtitle{
  color: white;
  font-family: GillSans;
}

.titulo{
  text-align: center;
  width: 30%;
  height: 3%;
  position: fixed;
  top: 5%;
  left: 35%;
}

.more{
    position:fixed;
    top: 0;
    right: 1%;
    z-index: 1049;
    outline: none;
}

.btn-more{
  width: 50px;
  height: 50px;
  outline: none;
}

.main{
  width: 70vw;
  height: 70vh;
  position: relative;
  left: -4vw;
}

#principal{
  left: -7vw;
  height: 55vh;
}

.price{
  color: white;
}

.pricetitle{
  color: white;
  font-family: Futura;
  margin-bottom: 0.2rem;
}

.pricecust{
  color: white;
}

p{
  color: white;
}



#about{
  max-height: 20%;
}

.card{
  height: 10px;
}

.card-body{
  text-align: center;
  height: 500px;
  overflow: scroll;
}

.option-fuel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10em;
}

.option-color{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10em;
}

.option-tapiceria{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.option-teca{
  position: relative;
  top: -6vh;
  left: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 6vh;
}

.option-group-color{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2em;
}

.btn-group-color{
  width: 300px;
  margin: auto 2%;
  border: none;
  background-color: rgba(0,0,0,0);
  font-family: Watchword;
  color: white;
}

.btn-engine{
  width: 100px;
  height: 120px;
  margin: auto 2%;
  border: none;
  background-color: rgba(0,0,0,0);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-color{
  position: relative;
  top: 500px;
  width: 75px;
  height: 90px;
  margin: 2% 2%;
  border: none;
  background-color: rgba(0,0,0,0);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-huls{
  width: 100px;
  height: 120px;
  margin: auto 2%;
  border: none;
  background-color: rgba(0,0,0,0);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-teca{
  width: 120px;
  height: 120px;
  margin: auto 2%;
  border: none;
  background-color: rgba(0,0,0,0);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-addon{
  width: auto;
  height: auto;
  margin-bottom: 10px;
  border: none;
}

#summary{
  color: white;
  font-size: 1em;
  font-family: Futura;
}

.cost{
  margin-top: auto;
}

.fuel{
  text-align: left;
}

.color{
  text-align: left;
}

.tapi{
  text-align: left;
}

.teca{
  text-align: left;
}

.addons{
  text-align: left;
}


/*Codigo de slider addons*/
.option-addons{
  position: relative;
  top: -130px;
  height: 80vh;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.option-addon{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: gray;
}

.option-overlay{
  background: #d39e00;
  opacity: 0.9;
  background-size: cover;
  position: relative;
  left: -400px;
  top: 80px;
  width: 1200px;
  height: 1000px;
  transform: rotate(60deg);
  z-index: 99;
}

.option-text{
  position: absolute;
  top: 3%;
  left: 6%;
  z-index: 100;
  width: 40%;
  height: 90%;
  overflow: scroll;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: white;
}

.option-text h3{
  font-family: Watchword;
}

.option-text h3{
  font-family: Watchword;
}

.option-text p{
  font-family: GillSans;
}

.slide__overlay-path {
  width: 100%;
  height: 100%;
  fill: rgb(225, 204, 174);
}

.option-addon-control{
  width: 100%;
  height: 12%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 101;
}

.option-addon-controls{
  width: auto;
  height: auto;
  margin: 2% 2%;
  background: none;
  border: none;
  font-size: 1.5em;
  color: white;
  font-family: Watchword;
}

.btn-light.disabled, .btn-light:disabled{
  background-color: #888888;
  ;
}

@media (max-width: 1200px){

  #mainNav .navbar-brand img{
    width: 150px;
    height: 43px;
  }

  header.masthead .titulo h1 {
  font-size: 1.6rem;
  text-align: center;
  color: white;
  }

  header.masthead .titulo h3 {
  font-size: 1.1rem;
  text-align: center;
  color: white;
  }

  #title{
    font-size: 1.6rem;
  }

  .content {
    font-size: 0.9rem;
  }

  .summary {
    font-size: 0.9rem;
  }

  .cost{
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  #mainNav .navbar-brand img{
    width: 120px;
    height: 34px;
  }

  #mainNav .navbar-brand img{
    width: 120px;
    height: 34px;
  }

  header.masthead .titulo h1 {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  }

  header.masthead .titulo h3 {
  font-size: 0.9rem;
  text-align: center;
  color: white;
  }

  .text-lateral button{
    font-size: 0.9rem;
  }

  #title{
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {

  header.masthead .titulo h1 {
  font-size: 1rem;
  text-align: center;
  color: white;
  }

  header.masthead .titulo h3 {
  font-size: 0.7rem;
  text-align: center;
  color: white;
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
    text-align: right;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
}

.menu {
  --color: #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
}
.menu svg {
  outline: none;
  width: 90px;
  height: 70px;
  top: -10px;
  left: -15px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}
.menu svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.menu svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}
.menu svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}

.menu.active svg path {
  --offset: 57px;
}
.menu.active svg path:nth-child(1), .menu.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(.2, .4, .2, 1.1);
}
.menu.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px;
}
.menu.active svg path:nth-child(3) {
  --offset: 58px;
}