
::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Watchword;
    src: url("/assets/fonts/watchword.otf");
}

@font-face {
    font-family: GillSans;
    src: url("/assets/fonts/gillsans.ttf");
}

@font-face {
    font-family: GillSans;
    src: url("/assets/fonts/gillsans.ttf");
}

body, html{
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2D4959;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 8000;
}

.loader {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assets/img/logoloader.png");
  background-size: 100px, 100px;
  background-repeat: no-repeat;
  background-position: center;
  animation: loader 2s infinite ease;
  -webkit-animation-name: loader;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #2D4959;
}


@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@-webkit-keyframes loader {
  0% { -webkit-transform: rotate(0deg);}
  25% { -webkit-transform: rotate(180deg);}
  50% { -webkit-transform: rotate(180deg);}
  75% { -webkit-transform: rotate(360deg);}
  100% { -webkit-transform: rotate(360deg);}
}

#myVideo {
  position: fixed;
  background: #c4cbde;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  filter: brightness(80%);
}

#mainNav{
  padding: 3vw !important;
}

#mainNav .navbar-brand {

  outline: none;
  cursor: pointer;
}

#mainNav .navbar-brand img{
    width: 188.75px;
    height: 54.33px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  text-align: right;
  cursor: pointer;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

#mainNav .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
}


@media (min-width: 992px) {
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-family: "GillSans";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
    text-align: right;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
}

.menu {
  --color: #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
}
.menu svg {
  outline: none;
  width: 90px;
  height: 70px;
  top: -10px;
  left: -15px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}
.menu svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.menu svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}
.menu svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}

.menu.active svg path {
  --offset: 57px;
}
.menu.active svg path:nth-child(1), .menu.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(.2, .4, .2, 1.1);
}
.menu.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px;
}
.menu.active svg path:nth-child(3) {
  --offset: 58px;
}

header.masthead {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

header.masthead h1 {
  font-size: 2.7rem;
  color: white;
  font-family: Watchword;
}

.button-text{
  font-family: GillSans;
  letter-spacing: 0.20em;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  header.masthead h1 {
    font-size: 2.3rem;
    color: white;
  }

  #mainNav .navbar-brand img{
    width: 150px;
    height: 43px;
  }

  .textvideo{
    font-size: 95%;
  }

}

.cardabout {
  opacity: 0.75;
  height: 50vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.card{
  margin: auto 0;
  width: 150vh;
}

.cardnews {
  opacity: 0.75;
  height: 50vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.colvideo img{
  position: absolute;
  top: -10px;
  left: 23%;
}

@media (max-width: 992px) {
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 2.3rem;
    color: white;
  }

  #mainNav .navbar-brand img{
    width: 120px;
    height: 34px;
  }

  .button-text{
    font-size: 1rem;
  }

  .textvideo p{
    font-size: 3rem;
  }

}

@media (max-width: 768px) {

  header.masthead h1 {
    font-size: 2rem;
    color: white;
  }

  .button-text{
    font-size: 0.9rem;
  }

  .textvideo p{
    font-size: medium;
  }
}

@media (max-width: 576px) {
  header.masthead h1 {
    font-size: 1.5rem;
    color: white;
  }

  .button-text{
    font-size: 0.8rem;
  }

  .textvideo p{
    font-size: small;
  }
}

.btn-primary {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f24516;
  border-color: #ee3e0d;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ee3e0d;
  border-color: #e23a0d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
}

.page-section {
  padding: 8rem 0;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-88 {
  height: 85% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.vh-100 {
  height: 100vh !important;
}

.ml-auto{
margin-left: auto !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom:  0.5rem !important;
}

.wrapper {
  --color: #ffffff;
  --color-invert: #ffffff;
  --clip-path: circle(0px at left);
  --clip-path-hover: circle(0px at left);
  --clip-path-clicked: circle(300vw at top);
  --duration: .4s;
  --timing-function: ease;
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .video {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}

.wrapper .video video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.wrapper .text {
  font-family: "GillSans";
  position: relative;
  left: -5%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2px;
  opacity: var(--opacity, 1);
  transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper .text::before, .wrapper .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 25px;
  height: 0;
}
.wrapper .text::before {
  box-shadow: 26px 0 0 1px var(--color);
  right: var(--r, 100%);
  opacity: var(--opacity, 0);
  transition: right .5s ease-in, opacity .1s linear;
}
.wrapper .text::after {
  box-shadow: 26px 0 0 1px var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}
.wrapper .text > span::before, .wrapper .text > span::after {
  content: attr(data-text);
  padding-left: 26px;
}
.wrapper .text > span::before {
  color: var(--color);
}
.wrapper .text > span::after {
  color: var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  position: absolute;
  left: 0;
}
.wrapper input {
  font-family: "GillSans";
  width: 220px;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 40px;
  z-index: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.wrapper input:focus {
  outline: 0;
}
.wrapper input:hover ~ .video {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text::before {
  --r: 25px;
  --opacity: 1;
}
.wrapper input:hover ~ .text::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}
.wrapper input:checked {
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
}

.wrapper input:checked ~ .video {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text {
  --opacity: 1;
  transition: opacity 0.3s var(--timing-function);
}
.wrapper input:checked ~ .text::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  z-index: 2;
}
button.customize {
  width: 17rem;
  height: auto;
  outline: none;
}
button.customize .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 2.5rem;
  background: #2D4959;
  border-radius: 1.625rem;
}
button.customize .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.customize .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.customize .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.customize .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 0;
  margin: 0 0 0 1.90rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.noselect { 
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
        user-select: none;
    }

.textvideo img{
  left: -20px;
}

.btnclose{
  position: relative;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: auto;
  width: 24px;
  height: 24px;
  z-index: 3;
}