@font-face {
    font-family: Watchword;
    src: url("/assets/fonts/watchword.otf");
}

@font-face {
    font-family: GillSans;
    src: url("/assets/fonts/gillsans.ttf");
}

@font-face {
    font-family: Futura;
    src: url("/assets/fonts/futurabold.otf");
}

body, html {
  overflow-x: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  background: url("/assets/img/bgcusto.png");
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

::-webkit-scrollbar {
    display: none;
}

.capa{
  position: fixed;
  background: #2D4959;
  height: 100%;
  width: 100%;
  filter: opacity(80%);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2D4959;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 8000;
}

.loader {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/assets/img/logoloader.png");
  background-size: 100px, 100px;
  background-repeat: no-repeat;
  background-position: center;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #2D4959;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

#mainNav{
  padding: 3rem !important;
}

hr{
  border-color: white;
}

button:focus{
  outline: none;
}


#mainNav .navbar-brand {

  outline: none;
  cursor: pointer;
}

#mainNav .navbar-brand img{
    width: 188.75px;
    height: 54.33px;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  text-align: right;
  cursor: pointer;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #000;
  font-size: 1.1rem;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

#mainNav .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
}

.carousel-item img{
    width: 70%;
    height: 100%;
  }

header.masthead h1 {
  font-size: 6rem;
  text-align: center;
  color: white;
  font-family: Watchword;
}

header.masthead h3 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-family: GillSans;
  letter-spacing: 2px;
}

.main{
  width: 70vw;
  height: 50vh;
}

header.masthead {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  opacity: 0;
}

p {
  font-size: 0.9rem;
}

.main img{
  max-width: 60%;
}